/* RESET RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* Dropdown */
.drop-down-menu {
  background-color: rgb(199, 199, 199);
  padding: 1rem;
  cursor: pointer;
}

.drop-down-menu li:hover {
  scale: 1.025;
}