/* RESET RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.item-details {
  margin-top: 4rem;
}


/* Dropdown */
.dropdown-menu {
  background-color: rgb(250, 250, 250);
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  max-height: 35vh;
  overflow: auto;
}

.dropdown-menu li {
  transition: 0.2s;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgb(150, 150, 150);
}

.dropdown-menu li:hover {
  font-size: 16.5px;
  color: rgb(150, 150, 150);
  background-color: rgb(239, 239, 239);
}


/* ItemsList */
.item-suggestion {
  padding: 0.5rem 1rem;
}


/* Cards */
.card {
  display: flex;
}

.card img {
  width: 200px;
}

.card-body {
  padding: 1rem;
}